@media only screen and (max-width:991px) {
  .nav-link {
    font-size: 20px;
  }

  .nav-item a:hover {
    border-style: none;
    background-color: #1df59b;
  }
}

.notice-screenshot {
  margin-top: 12%;
}

.notice-sub-header-text {
  font-size: 20px;
}

.header-main {
  left: 22%;
}

.notice-sub-header-text {
  width: 60%;
}

.feature-item {
  margin-bottom: 10px;
}

.feature-header {
  font-size: 1.5rem;
}


@media only screen and (max-width:575px) {
  .feature-item {
    margin-bottom: 10px;
  }

  .feature-header {
    position: relative;
    left: 15%;
  }
}
