@media screen and (max-width: 500px) {

.header-main {
  font-size: 4rem;
  text-align: center;
}

h1,h2,h3 {
  font-size: 2.5rem;
}

}
@media screen and (max-width: 768px) {
h2 {
  font-size: 2.5rem;
}
.header-main {
  font-size: 4.2rem;
  width: 70%;
  left: 10%;
  padding-bottom: 4%;
}
.notice-sub-header {
  font-size: 3rem;
  left: 21%;
}
.presentation-img {
left: 25%;

}
.Product-Title {
  padding-bottom: 6%;
}
.product-header {
  text-align: center;
  left: 19%;
}



}
