 *

 /* {
  margin:auto;
  padding: auto;
  box-sizing: border-box;
}
*/
 body {}

 /* Navigation Styles */
 #navigation-menu {
   padding: 0 7%;
 }

 .logo-img {
   width: 350px;
   height: 100px;
 }

 .nav-item {
   margin-right: 25px;
 }

 .nav-item a:hover {
   border-bottom: 2px solid green;
   font-size: 20px;
 }

 .presentation-intro {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/business-graphic.jpg");
   padding-bottom: 10%;
   /*linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))*/
 }

 .presentation-img {
   position: relative;
   top: 30px;
   left: 35%;
   width: 200px;
   height: 200px;
 }

 .notice {
   background-color: #02569c;
 }

 .btn-success {
   position: relative;
   left: 20%;
   margin-top:30px;
 }

 .notice-screenshot {
   position: relative;
   width: 100%;
   transform: rotate(5deg);
 }

 .notice-sub-header {
   position: relative;
   width: 50%;
   top: 10%;
   left: 10%;
   color: white;
   font-size: 2.5rem;
   margin-bottom: 15px;
   padding-top: 10px;
 }

 .notice-sub-header-text {
   position: relative;
   color: white;
   width: 50%;
   left: 10%;
   top: 10%;
   font-size: 16px;
 }

 .header-main {
   position: relative;
   top: 60px;
   left: 10%;
   color: #0ce89b;
   width: 50%;
   line-height: 1.5;
   font-weight: 600;
   font-size: 3.5rem;
 }

 /* HORIZONATAL RULE ******/
 .line-space {
   border: 4px dotted #a6a6a6;
   border-bottom: none;
   width: 150px;
   margin-top: 30px;
 }

 /* Features Section ****** */
 #features-section {
   margin-top: 30px;
 }

 .feature-item {}

 .feature-img {
   width: 75px;
   height: 75px;
   position: relative;
   left: 37%;
   margin-left: auto;
   margin-bottom: 10px;
   color: #00ffff;
 }

 .feature-header {
   font-size: 1.2rem;
   color: #6b6b6b;
   text-align: center;
   width: 300px;
 }

 .feature-text {
   font-size: 1rem;
   text-align: center;
   display: none;
 }
