* {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

br {
  padding-bottom: 20px;
}

p {
  width: 600px;
}

/* Navigation */
.main-logo {
  width: 250px;
  height: 80px;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  font-size: 18px;
  color: #007965 !important;
}

/* Heading */
.intro-1 {
  background: rgb(16, 255, 238);
  background: linear-gradient(190deg, rgba(16, 255, 238, 1) 0%, rgba(4, 139, 62, 1) 35%, rgba(6, 164, 158, 1) 100%);
  padding-bottom: 100px;
}

.center-intro {
  position: relative;
  left: 25px;
  padding: 100px 0 0 0;
}

.title {
  color: white;
  width: 600px;
  font-weight: 600;
  font-size: 3.5rem;
  padding-bottom: 20px;
}

.title-sub {
  color: #E8E8E8;
  width: 600px;
  font-weight: 400;
  font-size: 1.5rem;
}

.header-img {
  position: relative;
  padding-right: 50px;
  padding-top: 80px;
  height: 500px;
  width: 740px;
}

/* Buttons */
.action-button {
  position: relative;
  top: 40px;
}

.center1 {
  position: relative;
  left: 500px;
}

.spacer {
  padding: 40px 0 40px 0;
}

.line {
  border-bottom: 4px dotted;
  width: 300px;
}

/* Client Area */
.logo-section {
  background-color: white;
  padding: 20px 0 20px 0;
}

.logo-client {
  margin-left: 75px;
  width: 100px;
  height: 40px;
}

.sub-heading {
  color: rgba(90, 249, 23, 1.0);
  font-size: 2rem;
  font-weight: 500;
}

.accounting-package {
  color: grey;
}

.graphic-2 {
  width: 600px;
  height: 300px;
}

.check {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* Card */
.featured-card-body {
  background: linear-gradient(157deg, rgba(239, 240, 245, 1) 0%, rgba(0, 179, 249, 0.8309698879551821) 51%, rgba(255, 255, 255, 1) 100%);
}

/* Box IMages */
.box-shot {
  position: relative;
  width: 150px;
  height: 180px;
}

.description {}

.sub-img {
  width: 700px;
}

#market {
  background-image: url("images/circle1.png");
  padding: 60px 0 0 0;
}

.market-head {
  font-size: 30px;
  color: rgba(4, 139, 62, 1);
  margin-bottom: 30px;
}

.highlight {
  font-weight: 600;
  color: #52de97;
}

.market-text {
  width: 500px;
  color: #374045;
}

.program-features {
  background: rgb(16, 255, 238);
  background: linear-gradient(190deg, rgba(16, 255, 238, 1) 0%, rgba(45, 217, 255, 1) 35%, rgba(49, 180, 65, 1) 100%);
  margin: 40px 0 0 0;
  padding-bottom: 40px;
}

.width-adj {
  width: 90%;
}

.features-snippet {
  padding: 20px 0 0 0;
  height: 200px;
  width: 200px;
}

.features-topic {
  font-size: 20px;
  color: white;
}

.spacer-1 {
  padding-top: 40px;
}

.statement-container {}

.statement {
  color: grey;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
