
 body {}

 .top-margin {
   position: relative;
   top: 5px;
   margin-top: 20px;
 }

 hr {
   margin: 30px auto;
   border-top: none;
   border-bottom: 4px dotted;
   width: 60px;
   color: #737373;
 }

 .header-line {
   border: 2px solid white;
   width: 80px;
 }

 /* Navigation Styles */
 #navigation-menu {
   padding: 0 7%;
 }

 .logo-img {
   width: 350px;
   height: 100px;
 }

 .nav-item {
   margin-right: 25px;
   font-size: 18px;
 }

 .nav-item a:hover {
   border-bottom: 5px solid #1df59b;
 }

 .presentation-intro {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/business-graphic.jpg");
   padding-bottom: 10%;
   /*linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))*/
 }

 .presentation-img {
   position: relative;
   top: 30px;
   left: 35%;
   width: 400px;
   height: 200px;
 }

 .notice {
   background-color: #02569c;
   padding-bottom: 20px;
 }

 .btn-success {
   position: relative;
   left: 20%;
   top: 20px;
   margin-top: 30px;
 }

 .notice-screenshot {
   position: relative;
   width: 100%;
   transform: rotate(5deg);
 }

 .notice-sub-header {
   position: relative;
   width: 60%;
   top: 10%;
   left: 10%;
   color: white;
   font-size: 2.5rem;
   margin-bottom: 15px;
   padding-top: 10px;
 }

 .notice-sub-header-text {
   position: relative;
   color: white;
   width: 50%;
   left: 10%;
   top: 10%;
   font-size: 16px;
 }

 .header-main {
   position: relative;
   margin-left: 12%;
   top: 60px;
   color: #0ce89b;
   width: 50%;
   line-height: 1.5;
   font-weight: 600;
   font-size: 3.5rem;
 }

 /* HORIZONATAL RULE ******/
 .line-space {
   border: 4px dotted #a6a6a6;
   border-bottom: none;
   width: 150px;
   margin-top: 30px;
 }

 /* Features Section ****** */
 #features-section {
   margin-top: 30px;
   background-color: #10375c;
 }

 .feature-item {}

 .feature-img {
   width: 75px;
   height: 75px;
   position: relative;
   left: 37%;
   margin-left: auto;
   margin-bottom: 10px;
   color: #00ffff;
 }

 .feature-header {
   font-size: 1.2rem;
   color: #fff;
   text-align: center;
   width: 300px;
 }

 .feature-text {
   font-size: 1rem;
   text-align: center;
   display: none;
 }

 /* Product Shots ******** */
 .Product-Title {
   background-color: #02569c;
 }

 .product-header {
   position: relative;
   line-height: 1.25;
   margin: 30px 0 0 25px;
   width: 450px;
   color: white;
 }

 .Product-Shots {}

 .box-shots {
   position: relative;
   width: 200px;
   height: 300px;
 }

 .pro-header {
   color: #26b3f0;
 }

 .premium-header {
   color: #e8665a;
 }

 .quantum-header {
   color: #a668e3;
 }

 .sage-industry {
   margin-top: 10px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("stock/computer.jpg");
   background-position: center;
   padding-bottom: 10px;
 }

 .sage-accent {
   color: green;
 }

 .industry-header {
   color: white;
   text-align: center;
   font-size: 3rem;
   margin: auto 0 20px auto;
 }

 .industry-subheader {
   margin: auto auto 0 25px;
   color: white;
   font-size: 1.5rem;
   width: 620px;
   line-height: 1.5;
   text-align: left;
 }

 .pointer {
   display: inline-flex;
   margin: 40px 0 0 50px;
 }

 .pointer-item {
   margin: 5px 0 0 5px;
   color: white;
   list-style: none;
   font-size: 1.5rem;
 }

 .pointer-check {
   width: 30px;
   height: 30px;
   margin-top: 10px;
 }
